<head>
</head>
<title>HEAVEN'S DOOR</title>
<!-- It is system that will help you suffer from luck of toirets with power of Iot.. -->
<div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand">HEAVEN'S DOOR</a>
	      </div>
</div>
<div class="container-fluid">
    <div class="row">
      <% @toiret_vlist.each do |vtoiret| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <table class="table table-striped">
          <tr>
            <td class="vert-align">
              <h1><%= vtoiret.toiret_floor %>F</h1>
            </td>
            <td class="vert-align text-align">
              <% if vtoiret.flag1 then %>
              <%= image_tag("closed.png", :class => "toiret_icon") %>
              <% else %>
              <%= image_tag("opened.png", :class => "toiret_icon") %>
              <% end %>
            </br>
            <%= vtoiret.datetime1.strftime("%H:%M")%>
            <td class="vert-align text-align">
              <% if vtoiret.flag2 then %>
                <%= image_tag("closed.png", :class => "toiret_icon") %>
              <% else %>
                <%= image_tag("opened.png", :class => "toiret_icon") %>
              <% end %>
            </br>
            <%= vtoiret.datetime2.strftime("%H:%M")%>
          </tr>
        </table>
      </div>
      <% end %>
    </div>
</div>
